---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "/",
    description: "DIVISON's official website",
    icon: "mdi:home",
  },
  {
    url: "https://www.facebook.com/profile.php?id=61550899566733",
    description: "View DIVISON on Facebook",
    icon: "fa-brands:facebook",
  },
  {
    url: "https://instagram.com/dvision.web?igshid=YTQwZjQ0NmI0OA==",
    description: "DIVISON on Instagram",
    icon: "fa-brands:instagram",
  },
  {
    url: "https://twitter.com/dvisionwebau",
    description: "DIVISON on X aka Twitter",
    icon: "fa-brands:twitter",
  },
];
---

<footer class="relative flex h-64 items-center justify-center overflow-hidden">
  <span class="wave"></span>
  <span class="wave"></span>
  <span class="wave"></span>
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <ul class="relative grid grid-cols-4 gap-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>

<style>
  .wave {
	position:absolute;
	top:-180vw;
	left:-50vw;
	width:200vw;
	height:200vw;
	background:deepskyblue;
	border-radius:43%;
	filter:opacity(0.4);
	animation:drift linear infinite;
	transform-origin:50% 48%;
}
 .wave:nth-of-type(1) {
	animation-duration:5s;
}
 .wave:nth-of-type(2) {
	animation-duration:7s;
}
 .wave:nth-of-type(3) {
	animation-duration:9s;
	background-color:rgb(210, 11, 117);
	filter:opacity(0.1);
}
@keyframes drift {
	from {
	transform:rotate(360deg);
}
}
</style>